#messagesLabel{
    -fx-cursor: hand;
    -fx-border-radius: 15%;
    -fx-border-color: black;


}
#closeButton {
    -fx-background-image: url("../../login/res/X.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-cursor: hand;
}

#toolbar {
    -fx-background-color: transparent;
}

#textFlow {
    -fx-border-radius: 20%;
    -fx-border-color: black;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-tile-alignment: center;
}